<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>items</key>
    <array>
    	<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://git.oschina.net/hongmomanu/iosfile/raw/master/eapp.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://git.oschina.net/hongmomanu/iosfile/raw/master/eapp.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<true/>
					<key>url</key>
					<string>https://git.oschina.net/hongmomanu/iosfile/raw/master/eapp.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.ionicframework.eapp315343</string>
				<key>kind</key>
				<string>software</string>
				<key>subtitle</key>
				<string>e医通</string>
				<key>title</key>
				<string>e医通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>